In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MinMaxScaler

C:\Users\deeks\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('portfolio_data.csv')

In [3]:
df.head()

       Date        AMZN        DPZ         BTC       NFLX
0  5/1/2013  248.229996  51.190983  106.250000  30.415714
1  5/2/2013  252.550003  51.987320   98.099998  30.641428
2  5/3/2013  258.049988  52.446388  112.900002  30.492857
3  5/6/2013  255.720001  53.205257  109.599998  30.098572
4  5/7/2013  257.730011  54.151505  113.199997  29.464285

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df

           Date         AMZN         DPZ          BTC        NFLX
0    2013-05-01   248.229996   51.190983   106.250000   30.415714
1    2013-05-02   252.550003   51.987320    98.099998   30.641428
2    2013-05-03   258.049988   52.446388   112.900002   30.492857
3    2013-05-06   255.720001   53.205257   109.599998   30.098572
4    2013-05-07   257.730011   54.151505   113.199997   29.464285
...         ...          ...         ...          ...         ...
1515 2019-05-08  1917.770020  283.149994  6171.959961  364.369995
1516 2019-05-09  1899.869995  282.160004  6358.290039  362.750000
1517 2019-05-10  1889.979980  278.369995  7191.359863  361.040009
1518 2019-05-13  1822.680054  273.880005  7980.129883  345.260010
1519 2019-05-14  1840.119995  272.859985  8183.830078  345.609985

[1520 rows x 5 columns]

In [7]:
# Check for missing values
print("Missing values:\n", df.isnull().sum())

Missing values:
 Date    0
AMZN    0
DPZ     0
BTC     0
NFLX    0
dtype: int64

In [9]:
#normalization
df = (df - df.min()) / (df.max() - df.min())

In [10]:
df.head()

       Date      AMZN       DPZ       BTC      NFLX
0  0.000000       0.0       0.0  0.001936  0.002443
1  0.000454  0.002412  0.003218  0.001505  0.003022
2  0.000907  0.005482  0.005073  0.002288  0.002641
3  0.002269  0.004181   0.00814  0.002113  0.001628
4  0.002722  0.005303  0.011964  0.002303       0.0

In [11]:
imputer = SimpleImputer(strategy='mean')
df[['AMZN', 'DPZ', 'BTC', 'NFLX']] = imputer.fit_transform(df[['AMZN', 'DPZ', 'BTC', 'NFLX']])

In [14]:
X = df.drop(columns=['Date', 'NFLX'])
y = df['NFLX']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
#Model Selection and Training
from sklearn.ensemble import RandomForestRegressor

In [17]:
model = RandomForestRegressor()

In [18]:
model.fit(X_train, y_train)

RandomForestRegressor()

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
# Evaluate the model
y_predict = model.predict(X_test)
mse = mean_squared_error(y_test, y_predict)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 0.0005037746818430982

In [21]:
#Prediction
# Example: Make predictions on new data
new_data = pd.DataFrame({'AMZN': [250.0], 'DPZ': [55.0], 'BTC': [120.0]}, index=[0])
prediction = model.predict(new_data)
print(f'Predicted NFLX price: {prediction}')

Predicted NFLX price: [0.86937855]